.link{
    cursor: pointer;
}
.burger{
    cursor: pointer;
   
    width: 20px;
    height: 16px;
    
    flex-direction: column-reverse;
    display: none;
    justify-content: space-between;

}
.line{
    width: 100%;
    background-color: var(--textColor);
    height: 2px;
}
.MenuMobile{
    z-index: 10000;
    background-color: var(--softBg);
 
    position: absolute;
    
    top:100px;
  
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    font-size: 32px;
}
@media screen and (max-width:640px) {
    .MenuMobile{
        transition: 2s;
        left: 0px;
    }
  
    .burger{
        display: flex;
    }
    .link{
        display: none;
    }

    
}
.profile{
    transition: 0.4s;
    position: relative;
   
}

.arroDown{
    transition: 0.4s;

    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--softBg);
    position: absolute;
    right: 0;
    bottom: 0;
}
.droppMenu{
    transition: 0.4s;
    position: absolute;
    top: 43px;
    background-color: var(--softBg);
    right: 7px;
    width: max-content;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.item{
    cursor: pointer;
    border-radius: 5px;
    
    padding: 5px;
    color: var(--softTextColor)
}
.item:hover{
    transition: 0.4s;
    background-color: #fff7f7ce;
}