.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;

}
.wrapper{
    background-color: var(--softBg);   
    padding: 90px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    border-radius: 10px;
}
.socialMedia{
    padding: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialMedia:first-child{
    background-color: #ff5555;
}

.socialMedia:nth-child(3){
    background-color: black;
}
.socialMedia:nth-child(2){
    background-color: #087BEA;
}

@media screen and (max-width:768px) {
    
    .wrapper{
        padding: 80px 100px;
    }
    .socialMedia{
        padding: 15px;
    }
}
@media screen and (max-width:640px) {
    .wrapper{
        padding: 30px;
    }
    .socialMedia{
       font-weight:400;
       font-size: 18px;
    }
    
}