:root{
    
    --bg:white;
    --textColor:black;
    --softBg:#f0f0f0;
    --softTextColor:#626262;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
.dark{
    
    
    --bg:#0f172a;
    --textColor:#ddd;
    --softBg:#1f273a;
    --softTextColor:#a6a6a6;
        transition: 1s;
}
.light{
   
    --bg:white;
    --textColor:black;
    --softBg:#f0f0f0;
    --softTextColor:#626262;
        transition: 1s;
}
.container{
    min-height: 100vh;
    background-color:var(--bg);
    color: var(--textColor);
    transition: 1s;
}
.wrapper{
    max-width: 1563px;
    margin-left: auto;
    margin-right: auto;
   
    padding-left: 80px;
    padding-right: 80px;
  

}
.loaderContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    --d:22px;
    width: 4px;
    text-align: center;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  .containerIcons{
    padding: 10px;
    transition: 1.3s;

    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--softTextColor);
}

.heartImageContainer,.CommentImageContainer{
    transition: 1.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }
@media screen and (max-width:1536px) {
    .wrapper{
        max-width: 1366px;
    }
    
}

@media screen and (max-width:1366px) {
    .wrapper{
        max-width: 1024px;
    }
    
}

@media screen and (max-width:1024px) {
    .wrapper{
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
  
    }
    
}
@media screen and (max-width:768px) {
    .wrapper{
        max-width: 640px;
    }
    
}
@media screen and (max-width:640px) {
    .wrapper{
        max-width: 475px;
        
  
    }
    
}

.ql-container{
    font-size: 28px !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before{
    color: #b3b3b1;
}