.container{
    transition: 1s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 5px;
    height: 50px;
    width: 200px;
    z-index: 100;
    background-color: red;
    color: white;
}