.CartUser{
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 5px;
    background-color: var(--softBg);
    color: var(--softTextColor);


}
.headCart{
    display: flex;
    padding:  10px;
    align-items: center;
    justify-content: space-between;
}
.userInfo{

    display: flex;
    align-items: center;
    gap: 10px;
}
.userNameAndDate{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.option{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.9px;
    color: var(--softTextColor);
}
.pointe{
    height: 6px;
    width: 6px;
    background: var(--softTextColor);
    border-radius: 50%;

}
.body{
    padding:0 10px ;
}
.imagePostContainer{
    position: relative;
    height: 500px;
}
.imagePost{
    object-fit: none;
}
.friendLikesContainer{
    color: var(--softTextColor);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--softTextColor);

}
.friendLikes{
    display: flex;
    align-items: center;
    gap: 2px;
}
.containerIcons{
    padding: 10px;
    transition: 1.3s;

    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--softTextColor);
}

.heartImageContainer,.CommentImageContainer{
    transition: 1.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}